@charset "utf-8";

@font-face {
	font-family: "LexendDeca";
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/LexendDeca-Light.ttf") format("truetype");
}

@font-face {
	font-family: "LexendDeca";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/LexendDeca-Regular.ttf") format("truetype");
}

 
@font-face {
	font-family: "LexendDeca";
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/LexendDeca-SemiBold.ttf") format("truetype");
}


/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;-webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;border:0;*margin:0;*padding:0}/* html5 */
table{width:100%;border-collapse:collapse;border-spacing:0}

fieldset,img,iframe{border:0}
img{vertical-align:top}
ul,ol{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%}
caption,legend{display:none}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a:link,a:visited,a:active,a:hover{color:#333;text-decoration:none;}
input[type="text"]::-ms-clear {display: none;}
button{outline: none;border: none;cursor: pointer;background-color: transparent;}

.hidden{display: none;}
.disable{pointer-events: none;}
 


/* layout */
body {
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow: hidden;
	font-family: "MalgunGothic", "맑은고딕", sans-serif;
	font-weight: 400;
}

#wrap {
	width:100%;
	height:100%;
	transform-origin: left top;
}

#container {
	width:100%;
	overflow:hidden;
}

#content-wrap {
	position:relative;
	transform-origin: top left;
}
